<div class="container bg-m-gray2">
    <div class="profile-container bg-m-white border-solid border-600 border-round-xl">
        <div class="foto-perfil">
            <img class="pb-3" src="assets/User-img-default.png" alt="Foto de perfil">
            @if( currentUser.usuTipo == 'PASSAGEIRO' ){
            <button pButton class="p-button bg-danger text-white rounded px-2 py-1" label="Tornar-se motorista" (click)="tornarMeMotorista()"></button>
            }
        </div>

        <div class="inputs">
            <div class="input-block">
                <h1>Email</h1>
                <p>{{ currentUser.usuEmail }}</p>
            </div>

            <div class="input-block">
                <h1>Nome</h1>
                <p>{{ currentUser.usuNome }}</p>
            </div>
    
            <div class="input-block">
                <h1>Telefone</h1>
                <p>{{ currentUser.usuTelefone }}</p>
            </div>
    
            <div class="input-block">
                <h1>Data de nascimento</h1>
                <p>{{ currentUser.usuDtNascimento }}</p>
            </div>

            <div class="input-block">
                <h1>Tipo de Usuário</h1>
                <p>{{ currentUser.usuTipo }}</p>
            </div>

            <div class="input-block">
                <h1>Gênero</h1>
                <p>{{ currentUser.usuGenero }}</p>
            </div>

            <div class="input-block">
                <h1>CPF</h1>
                <p>{{ currentUser.usuCpf }}</p>
            </div>
        </div>
    </div>
</div>


