<div class="container bg-m-gray2">
    <div class="profile-container bg-m-white border-solid border-600 border-round-xl">
        <div class="foto-perfil">
            <img class="pb-3" src="assets/User-img-default.png" alt="Foto de perfil">
            <button pButton class="p-button bg-danger text-white rounded px-2 py-1" label="Alterar foto de perfil"></button>
        </div>

        <div class="inputs">
            <div class="input-block">
                <h1>Nome</h1>
                <p>Pedro Augusto Nunes Fais</p>
                <button class="edit-button bg-danger text-white rounded">Editar</button>
            </div>
    
            <div class="input-block">
                <h1>Telefone</h1>
                <p>12991578060</p>
                <button class="edit-button bg-danger text-white rounded">Editar</button>
            </div>
    
            <div class="input-block">
                <h1>Trocar de senha</h1>
                <button class="edit-button bg-danger text-white rounded">Editar</button>
            </div>
    
            <div class="input-block">
                <h1>Data de nascimento</h1>
                <p>02/03/2001</p>
                <button class="edit-button bg-danger text-white rounded">Editar</button>
            </div>
    
            <div class="input-block">
                <h1>Email</h1>
                <p>pedrofais11afgagafk.com</p>
                <button class="edit-button bg-danger text-white rounded">Editar</button>
            </div>
    
            <div class="input-block">
                <h1>Veículos</h1>
                <p>Ford Ka</p>
                <button class="edit-button bg-danger text-white rounded">Editar</button>
            </div>

            <div class="input-block">
                <h1>Tipo de Usuário</h1>
                <p>Passageiro, Motorista</p>
                <button class="edit-button bg-danger text-white rounded">Editar</button>
            </div>
    
            <div class="input-block">
                <h1>Endereços</h1>
                <p>Rua Teodoro Galdino</p>
                <button class="edit-button bg-danger text-white rounded">Editar</button>
            </div>
        </div>
    </div>
</div>


