@if( veiculos != [] && veiculos.length != 0 ){
  <div class="card px-8">
    <p-table [value]="veiculos" [tableStyle]="{'min-width': '60rem'}">
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="id" style="width:20%">Placa <p-sortIcon field="code"></p-sortIcon></th>
                <th pSortableColumn="numero" style="width:20%">Cor <p-sortIcon field="code"></p-sortIcon></th>
                <th pSortableColumn="rua" style="width:20%">Qt de passageiros <p-sortIcon field="code"></p-sortIcon></th>
                <th pSortableColumn="bairro" style="width:20%">Modelo <p-sortIcon field="code"></p-sortIcon></th>
                <th pSortableColumn="cidade" style="width:20%">Marca <p-sortIcon field="code"></p-sortIcon></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-veiculos>
            <tr>
                <td>{{veiculos.veiPlaca}}</td>
                <td>{{veiculos.veiCor}}</td>
                <td>{{veiculos.veiMaxPassageiros}}</td>
                <td>{{veiculos.modelo.modNome}}</td>
                <td>{{veiculos.marca.marNome}}</td>
            </tr>
        </ng-template>
    </p-table>
  </div>
}@else{
  <p class="text-center text-red-500 font-bold text-2xl mt-5">Voce não possui veículos cadastrados!</p>
  <div class="flex justify-content-center">
    <img src="../../../../assets/broken-car.png" class="w-2 h-2" alt="Algo deu errado">
  </div>
}

