@if( caronas != [] && caronas.length != 0 ){
  <div class="card px-8">
    <p-table [value]="caronas" [tableStyle]="{'min-width': '60rem'}">
      <ng-template pTemplate="header">
          <tr>
              <th pSortableColumn="id" style="width:6%">ID<p-sortIcon field="code"></p-sortIcon></th>
              <th pSortableColumn="data" style="width:10%">Data<p-sortIcon field="code"></p-sortIcon></th>
              <th pSortableColumn="hora" style="width:8%">Hora<p-sortIcon field="code"></p-sortIcon></th>
              <th pSortableColumn="pontoPartida" style="width:15.5%">Partida<p-sortIcon field="code"></p-sortIcon></th>
              <th pSortableColumn="pontoChegada" style="width:15.5%">Chegada<p-sortIcon field="code"></p-sortIcon></th>
              <th style="width:12.5%">Doação</th>
              <th style="width:12.5%">Status</th>
              <!-- <th style="width:6%">Mais</th> -->
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-caronas>
          <tr>
              <td>{{caronas.carId}}</td>
              <td>{{caronas.carData}}</td>
              <td>{{caronas.carHora}}</td>
              <td>{{caronas.carPartida.endNumero}}, {{caronas.carPartida.endRua}}, {{caronas.carPartida.endBairro}}, {{caronas.carPartida.endCidade}}</td>
              <td>{{caronas.carChegada.endNumero}}, {{caronas.carChegada.endRua}}, {{caronas.carChegada.endBairro}}, {{caronas.carChegada.endCidade}}</td>
              <td>R$ {{caronas.carValorDoacao}}</td>
              <td>{{caronas.carStatus}}</td>
              <!-- <td>
                <div class="card flex justify-content-center">
                  <p-sidebar [(visible)]="sidebarVisible" [fullScreen]="true">
                    <h3>INFORMAÇÕES GERAIS DA CARONA: </h3>
                    <p>ID da carona: {{caronas.carId}}</p>
                  </p-sidebar>
                  <p-button (click)="sidebarVisible = true" icon="pi pi-th-large color-m-white" severity="danger"></p-button>
                </div>
              </td> -->
          </tr>
      </ng-template>
  </p-table>
  </div>
  }@else{
    <p class="text-center text-red-500 font-bold text-2xl mt-5">Você não possui caronas no histórico!</p>
  <div class="flex justify-content-center">
    <img src="../../../../assets/broken-car.png" class="w-2 h-2" alt="Algo deu errado">
  </div>
  }

