<div class="menu-tamanho border-2 border-round bg-white absolute flex z-1 justify-content-around align-items-center posicao">
  <div class="flex flex-column justify-content-around gap-4">
    <input #userInput class="" type="text" [value]="userAddress" placeholder="Insira o endereço de partida"/>
    <input #fatecInput class="bg-black-alpha-10" type="text" [value]="fatecAddress" disabled/>
  </div>
  <p-button severity="danger" icon="pi pi-sort-alt" (click)="onSwapLocations($event)"></p-button>
  <p-button severity="danger" label="Solicitar Carona" (click)="onSolicitarCarona()"></p-button>
</div>
