.posicao {
    width: 40vw;
    height: 7vh;
    position: absolute;
    left: 30vw;
    bottom: 2vh;
}

.pac-container {
    z-index: 10000;
}

:host ::ng-deep .p-datepicker {
    transform: scale(0.7); /* Adjust the scale to your desired value */
}

:host ::ng-deep .p-calendar {
    width: 100%;
}

:host ::ng-deep .p-dropdown {
    width: 100%;
}