<div class="min-h-screen background-fatex flex justify-content-center align-items-center py-5 border-box">
  <div class="w-30rem w-responsive bg-m-white border-solid border-600 border-round-xl flex">
    <div class="w-30rem">
      <div class="flex w-full align-items-center py-3 justify-content-center">
        <img class="w-7rem h-7rem -ml-5" src="../../../assets/Logo.png" alt="Logo FATEX" />
        <span class="font-semibold text-6xl color-m-red">FATEX</span>
      </div>
      <div class="px-5">
        <form [formGroup]="loginForm" (ngSubmit)="realizarLogin()">
          <div class="card flex justify-content-center mt-2 mb-5 flex-column">
            <span class="font-bold block mb-2">Email</span>
              <input 
                formControlName="usuEmail"
                class="input-default" 
                type="email" 
                pInputText 
                pTooltip="Digite seu Email" 
                tooltipPosition="bottom" 
                id="usuEmail" 
                name="usuEmail"
                placeholder="meu-email@fatec.sp.gov.br"
              />
          </div>

          <div class="card flex justify-content-center flex-column">
            <span class="font-bold block mb-2">Senha</span>
              <input 
                formControlName="usuSenha"
                class="input-default" 
                type="password" 
                pInputText 
                pTooltip="Digite sua Senha" 
                tooltipPosition="bottom" 
                id="usuSenha" 
                name="usuSenha" 
                placeholder="●●●●●●●●●●●●●"
              />
          </div>

          <!-- <div class="flex align-items-center justify-content-end my-3">
            <p-button class="botao-senha" label="Esqueci a Senha" [link]="true" severity="secondary"></p-button>
          </div> -->
          <div class="flex flex-column justify-content-center my-5">
            <p-toast></p-toast>
            <p-button 
              class="w-full px-5" 
              severity="danger" 
              label="Entrar" 
              styleClass="min-w-full" 
              type="submit">
            </p-button>
          </div>
        </form>
        <div class="flex justify-content-center my-3">
          <span class="color-m-gray3 text-center">
            Novo por aqui? 
            <a class="color-m-gray3" routerLink="cadastro"><span class="underline">Cadastre-se!</span></a>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
