<div class="max-w-screen min-h-screen justiy-content-center pb-6">
  <h2 class="color-m-red text-center text-5xl font-medium">Meus Endereços</h2>
  <form class="mb-5">
    <h4 class="text-center font-medium">Cadastre um novo endereço!</h4>
    <div class="card flex justify-content-center mb-5">
      <span class="p-float-label">
        <input
          class="input-default"
          type="text"
          pInputText
          pTooltip="Digite o Endereço"
          tooltipPosition="bottom"
          id="autocomplete"
          name="autocomplete"
          placeholder="Insira o endereço"
          #autoInput
        />
        <label for="autocomplete">Endereço</label>
      </span>
    </div>
    <div class="flex flex-column justify-content-center input-default btn-ajust">
      <p-toast></p-toast>
      <p-button
        class="w-full px-5"
        severity="danger"
        label="Adicionar Endereço"
        styleClass="min-w-full"
        (click)="addEndereco()"
      ></p-button>
    </div>
  </form>
  <div>
    <app-tabela-2></app-tabela-2>
  </div>
</div>
